<html>

<head>
	
	<title>About</title>

	<link rel="stylesheet" type="text/css" href="about.css">

	<script 
		src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
	</script>

	<script>window.jQuery || document.write
		('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
	</script>

	<script src="js/_main.js"></script>

</head>


<body>

	<section id="slide-1" class="homeSlide">
    <div class="bcg"
         data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -100px;"
         data-anchor-target="#slide-1">
    
     <div class="hsContainer">
     <div class="hsContent"
           data-center="opacity: 1"
           data-106-top="opacity: 0"
           data-anchor-target="#slide-1 h2">
          
 <header>
	
	<div id="nav">
		<li><a href""><b>About</b></a></li>
		<li><a href""Gallery><b>Gallery</b></a></li>
		<li><a href""Get Started><b>Get Started</b></a></li>
		<li><a href""FAQs></a><b>FAQs</b></li> 
	</div>
</header>

<br>
<br>
<br>
	
	<div id="social">
		<img src="instagram-button.png" id="insta">
	</div>

	<div id="social1">
		<img src= "facebook.png" id="fb">
	</div>

	<h2><b> About </b></h2>
       
    <div class="main"> 

   		<p>
			Yologo is an inspirational site and showcase of identity work from designers of varying abilities all across the world. We seek to inspire and improve the talents of our design family through shared knowledge and helpful experiences. 
		</p>
	
		</div>
			</div>
   				</div>
			</div>
        </div>
	</section>


	<section id="slide-2" class="homeSlide">
    <div class="bcg"
         data-center="background-position: 50% 0px;"
       	 data-top-bottom="background-position: 50% -100px;"
         data-anchor-target="#slide-1">
    
    <div class="hsContainer1">
    <div class="hsContent1"
         data-center="opacity: 1"
         data-106-top="opacity: 0"
         data-anchor-target="#slide-1 h2">
                
    <h2> <b>Gallery</b> </h2>

	<div class="main"> 
			
		<p>
			Browse a collection of artwork created by our interns inspired to teach the next generation of artists
		</p>
	
	</div>
		 </div>
        	</div>
        </div>
	</section>


	<section id="slide-3" class="homeSlide">
    <div class="bcg"
       	 data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -100px;"
         data-anchor-target="#slide-1">
    
     <div class="hsContainer2">
     <div class="hsContent2"
          data-center="opacity: 1"
          data-106-top="opacity: 0"
          data-anchor-target="#slide-1 h2">
                
    <h2> <b>Get Started</b> </h2>
            
    <div class="main"> 

   		<p>
			To get started please fill out the form below and submit it. Once you do this we will have a better understanding of what you want and what we can do
		</p>
	
	</div>
		</div>
        	</div>
   		</div>
	</section>


	<section id="slide-4" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-1">
    
    <div class="hsContainer3">
    <div class="hsContent3"
         data-center="opacity: 1"
         data-106-top="opacity: 0"
         data-anchor-target="#slide-1 h2">
                
     <h2> <b>FAQs</b> </h2>
            
     <div class="main"> 

		<p>
			Our number one concern is our customers! feel free to email us and we gurentee to get back to you asap. 
		</p>
		
	</div>
		</div>
        	</div>
        </div>
	</section>


    	
	   
</body>

	<footer>
	  <li>Corporate</li> <br>
	  <li>Terms and Conditions</li> <br>
	</footer>


</html>